@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background: $verydarkblue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  padding: 60px 24px;
}
.grid-wrapper {
  display: grid;
  gap: 24px;
  margin: 0 auto;
  justify-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.element__window--icon {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
}

.element {
  border-radius: 16px;
  background: $darkblue;
  overflow: hidden;

  &__icon {
    position: relative;
    width: 54px;
    height: 54px;
    top: -6px;
    left: 77%;
  }
  &__window {
    height: 30px;
    background: $lightredwork;
  }
}
