@import "~normalize.css";

@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Rubik;
  background: $verydarkblue;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  padding: 90px 24px;
}

@mixin icon($left, $top) {
  left: $left;
  top: $top;
}

.grid-wrapper {
  display: grid;
  gap: 24px;
  margin: 0 auto;
  justify-items: center;
  @media (min-width: $desktop) {
    margin-bottom: 72px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    height: 424px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
  @media (min-width: 1440px) {
    display: block;
  }
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.element {
  border-radius: 13px;
  min-width: 100%;
  background: $darkblue;
  @media (min-width: $desktop) {
    width: 250px;
  }
  &__content {
    padding: 24px;
    border-radius: 13px;
    background: $darkblue;
    &:hover {
      background: #3a3e80;
    }
    &--main {
      display: flex;
      justify-content: space-between;
      padding-left: 30px;
      &:hover {
        background: none;
      }
      > span {
        color: $desaturatedblue;
        &:checked {
          color: $white;
        }
        &:hover {
          color: $white;
        }
      }
      @media (min-width: $desktop) {
        flex-direction: column;
        height: 130px !important;
      }
    }
    @media (min-width: $desktop) {
      height: 160px;
    }
  }
  &__elipses {
    text-align: right;
    justify-items: center;
    position: relative;
    top: -4px;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    margin: 0;
    @media (min-width: 1024px) {
      display: block;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
  &__icon {
    position: relative;
  }
  &__lastweek {
    font-size: 16px;
    font-weight: 300;
    text-align: right;
    line-height: 32px;
    color: $paleblue;
  }
  &__main {
    @media (min-width: $desktop) {
      grid-row-start: 1;
      grid-row-end: 3;
      height: 424px;
    }
  }
  &__time {
    font-size: 32px;
    font-weight: 300;
    @media (min-width: 1024px) {
      display: block;
      font-size: 42px;
    }
  }
  &__title {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
  }
  &__window {
    height: 40px;
    overflow: hidden;
    &--description {
      @media (min-width: $desktop) {
        padding-bottom: 40px;
        height: 127px;
      }
    }
    &--icon {
      width: 75px;
      height: 75px;
      border: 3px solid white;
      border-radius: 50%;
    }
    &--main {
      padding: 30px;
      background: $blue;
      border-radius: 13px;
      grid-template-columns: 65px 1fr;
      gap: 16px;
      align-items: center;
      @media (min-width: $desktop) {
        grid-template-columns: none;
        grid-template-rows: 75px 1fr;
        gap: 30px;
      }
    }
  }
  &__work {
    background: $lightredwork;
    &--icon {
      @include icon(72%, -9px);
      @media (min-width: $desktop) {
        @include icon(67%, -10px);
        width: 70px;
        height: 70px;
      }
    }
  }
  &__play {
    background: $softblue;
    &--icon {
      @include icon(72%, -3px);
      @media (min-width: $desktop) {
        @include icon(63%, -3px);
      }
    }
  }
  &__study {
    background: $lightredstudy;
    &--icon {
      @include icon(70%, -5px);
      @media (min-width: $desktop) {
        @include icon(62%, -11px);
      }
    }
  }
  &__excercise {
    background: $limegreen;
    &--icon {
      @include icon(70%, 0px);
      @media (min-width: $desktop) {
        @include icon(67%, -1px);
        width: 70px;
      }
    }
  }
  &__social {
    background: $violet;
    &--icon {
      @include icon(72%, -13px);
      @media (min-width: $desktop) {
        @include icon(65%, -4px);
      }
    }
  }
  &__self-care {
    background: $softorange;
    &--icon {
      @include icon(75%, -8px);
      @media (min-width: $desktop) {
        @include icon(67%, -14px);
      }
    }
  }
}

.hidden {
  display: none;
}

.subtitle {
  font-size: 14px;
  font-weight: 300;
  color: $paleblue;
}

.name {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  @media (min-width: $desktop) {
    font-size: 32px;
    line-height: 36px;
  }
}
